body {
  background-color: gold;
}

.plan {
  color: blue;
}

.my-list-element {
  font-weight: bold;
}

#special-heading {
  font-size: 40px;
  color: red;
}

.erste-paragraph {
  font-family: "Times New Roman", Times, serif;
}
